In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from datetime import datetime

In [2]:
pd.set_option('display.max_rows',30)
df = pd.read_csv('glassdoor.csv', parse_dates=['Founded'])
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite\r\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,954,Data Engineer,-1,Loading...\r\n\r\nTitle: Data Engineer\r\n\r\n...,4.8,IGNW\r\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

In [3]:
#how many rows are in the orginal df
len(df)

956

In [4]:
#let's look at the unique columns 
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [5]:
#let's drop the 1st unnamed column
df = df.drop('Unnamed: 0', axis=1)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [6]:
df.info() #from this info we can see that there aren't really null values 
          #but there are missing values for sure

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          956 non-null    object
 1   Salary Estimate    956 non-null    object
 2   Job Description    956 non-null    object
 3   Rating             956 non-null    float64
 4   Company Name       956 non-null    object
 5   Location           956 non-null    object
 6   Headquarters       956 non-null    object
 7   Size               956 non-null    object
 8   Founded            956 non-null    object
 9   Type of ownership  956 non-null    object
 10  Industry           956 non-null    object
 11  Sector             956 non-null    object
 12  Revenue            956 non-null    object
 13  Competitors        956 non-null    object
dtypes: float64(1), object(13)
memory usage: 104.7+ KB

In [7]:
df.describe() #here we can see that there are ratings of -1
              #which really shouldn't be the case!
              #we have to fix this

           Rating
count  956.000000
mean     3.601255
std      1.067619
min     -1.000000
25%      3.300000
50%      3.800000
75%      4.200000
max      5.000000

In [8]:
#create a new column that is true if the job pays hourly 
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

#df[df['hourly'] == 1]

In [9]:
#create a column that is true if the sal is employer provided
df['Employer Provided Sal'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided' in x.lower() else 0)

#df[df['Employer Provided Sal'] == 1]

In [10]:
#remove salary estimates with missing values 
#that is the value is '-1'

df = (df[df['Salary Estimate'] != '-1'])
len(df) #rows have reduced in number to 742 from 956

742

In [11]:
#rep the sal est as ints with min and max vals 
df['Salary Estimate'].unique()

array(['$53K-$91K (Glassdoor est.)', '$63K-$112K (Glassdoor est.)',
       '$80K-$90K (Glassdoor est.)', '$56K-$97K (Glassdoor est.)',
       '$86K-$143K (Glassdoor est.)', '$71K-$119K (Glassdoor est.)',
       '$54K-$93K (Glassdoor est.)', '$86K-$142K (Glassdoor est.)',
       '$38K-$84K (Glassdoor est.)', '$120K-$160K (Glassdoor est.)',
       '$126K-$201K (Glassdoor est.)', '$64K-$106K (Glassdoor est.)',
       '$106K-$172K (Glassdoor est.)', '$46K-$85K (Glassdoor est.)',
       '$83K-$144K (Glassdoor est.)', '$102K-$190K (Glassdoor est.)',
       '$67K-$137K (Glassdoor est.)', '$118K-$189K (Glassdoor est.)',
       '$110K-$175K (Glassdoor est.)', '$64K-$111K (Glassdoor est.)',
       '$81K-$130K (Glassdoor est.)', '$73K-$119K (Glassdoor est.)',
       '$86K-$139K (Glassdoor est.)', '$63K-$105K (Glassdoor est.)',
       '$109K-$177K (Glassdoor est.)', '$63K-$110K (Glassdoor est.)',
       '$75K-$124K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)',
       '$72K-$120K (Glassdoor est.)', '$93K-$149K (Glassdoor est.)',
       '$85K-$140K (Glassdoor est.)', '$77K-$135K (Glassdoor est.)',
       '$82K-$132K (Glassdoor est.)', '$83K-$137K (Glassdoor est.)',
       '$115K-$180K (Glassdoor est.)', '$74K-$138K (Glassdoor est.)',
       '$64K-$112K (Glassdoor est.)', '$68K-$129K (Glassdoor est.)',
       '$52K-$113K (Glassdoor est.)', '$110K-$150K(Employer est.)',
       'Employer Provided Salary:$150K-$160K',
       '$158K-$211K (Glassdoor est.)', '$20K-$39K (Glassdoor est.)',
       '$56K-$117K (Glassdoor est.)', '$63K-$99K (Glassdoor est.)',
       '$68K-$114K (Glassdoor est.)', '$41K-$95K (Glassdoor est.)',
       '$86K-$144K (Glassdoor est.)', '$80K-$139K (Glassdoor est.)',
       '$56K-$95K (Glassdoor est.)', '$120K-$189K (Glassdoor est.)',
       '$111K-$176K (Glassdoor est.)', '$84K-$146K (Glassdoor est.)',
       '$107K-$172K (Glassdoor est.)', '$49K-$85K (Glassdoor est.)',
       '$61K-$109K (Glassdoor est.)', '$88K-$148K (Glassdoor est.)',
       '$60K-$99K (Glassdoor est.)', '$41K-$72K (Glassdoor est.)',
       '$96K-$161K (Glassdoor est.)', '$65K-$130K (Glassdoor est.)',
       '$52K-$81K (Glassdoor est.)', '$139K-$220K (Glassdoor est.)',
       '$50K-$102K (Glassdoor est.)', '$85K-$139K (Glassdoor est.)',
       '$74K-$122K (Glassdoor est.)', '$99K-$157K (Glassdoor est.)',
       '$79K-$222K (Glassdoor est.)', '$57K-$118K (Glassdoor est.)',
       '$86K-$141K (Glassdoor est.)', '$94K-$154K (Glassdoor est.)',
       '$37K-$76K (Glassdoor est.)', '$100K-$160K (Glassdoor est.)',
       '$55K-$100K (Glassdoor est.)', '$60K-$114K (Glassdoor est.)',
       '$39K-$68K (Glassdoor est.)', '$64K-$107K (Glassdoor est.)',
       '$31K-$65K (Glassdoor est.)', '$34K-$62K (Glassdoor est.)',
       '$117K-$231K (Glassdoor est.)', '$79K-$134K (Glassdoor est.)',
       '$52K-$93K (Glassdoor est.)', '$55K-$116K (Glassdoor est.)',
       '$72K-$123K (Glassdoor est.)', '$74K-$124K (Glassdoor est.)',
       '$40K-$73K (Glassdoor est.)', '$102K-$164K (Glassdoor est.)',
       '$89K-$153K (Glassdoor est.)', '$61K-$110K (Glassdoor est.)',
       '$65K-$110K (Glassdoor est.)', '$200K-$275K(Employer est.)',
       '$68K-$123K (Glassdoor est.)', '$80K-$129K (Glassdoor est.)',
       '$39K-$71K (Glassdoor est.)', '$38K-$85K (Glassdoor est.)',
       '$121K-$193K (Glassdoor est.)', '$54K-$102K (Glassdoor est.)',
       '$102K-$163K (Glassdoor est.)', '$76K-$140K (Glassdoor est.)',
       '$60K-$101K (Glassdoor est.)', '$82K-$133K (Glassdoor est.)',
       '$65K-$125K (Glassdoor est.)', '$91K-$148K (Glassdoor est.)',
       '$95K-$173K (Glassdoor est.)', '$77K-$124K (Glassdoor est.)',
       '$80K-$135K (Glassdoor est.)', '$85K-$159K (Glassdoor est.)',
       '$80K-$105K(Employer est.)', '$43K-$81K (Glassdoor est.)',
       '$29K-$50K (Glassdoor est.)', '$26K-$55K (Glassdoor est.)',
       '$61K-$118K (Glassdoor est.)', '$60K-$102K (Glassdoor est.)',
       '$112K-$182K (Glassdoor est.)', '$51K-$112K (Glassdoor est.)',
       '$113K-$223K (Glassdoor est.)', '$72K-$129K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$145K',
       '$80K-$120K (Glassdoor est.)', '$80K-$130K (Glassdoor est.)',
       '$59K-$115K (Glassdoor est.)', '$71K-$136K (Glassdoor est.)',
       '$81K-$167K (Glassdoor est.)', '$71K-$204K (Glassdoor est.)',
       '$75K-$125K (Glassdoor est.)', '$77K-$136K (Glassdoor est.)',
       '$74K-$123K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)',
       '$65K-$148K (Glassdoor est.)', '$59K-$110K (Glassdoor est.)',
       '$85K-$134K (Glassdoor est.)', '$124K-$204K (Glassdoor est.)',
       '$131K-$207K (Glassdoor est.)', '$110K-$174K (Glassdoor est.)',
       '$52K-$101K (Glassdoor est.)', '$81K-$133K (Glassdoor est.)',
       '$132K-$211K (Glassdoor est.)', '$74K-$140K (Glassdoor est.)',
       '$100K-$190K (Glassdoor est.)', '$43K-$80K (Glassdoor est.)',
       '$17-$24 Per Hour(Glassdoor est.)', '$91K-$149K (Glassdoor est.)',
       '$42K-$82K (Glassdoor est.)', '$116K-$185K (Glassdoor est.)',
       '$59K-$116K (Glassdoor est.)', '$48K-$95K (Glassdoor est.)',
       '$31K-$72K (Glassdoor est.)', '$105K-$198K (Glassdoor est.)',
       '$98K-$182K (Glassdoor est.)', '$73K-$124K (Glassdoor est.)',
       'Employer Provided Salary:$200K-$250K',
       '$21-$34 Per Hour(Glassdoor est.)', '$117K-$206K (Glassdoor est.)',
       '$111K-$183K (Glassdoor est.)', '$81K-$159K (Glassdoor est.)',
       '$83K-$166K (Glassdoor est.)', '$114K-$182K (Glassdoor est.)',
       '$42K-$76K (Glassdoor est.)', '$114K-$179K (Glassdoor est.)',
       '$60K-$123K (Glassdoor est.)', '$100K-$166K (Glassdoor est.)',
       '$108K-$173K (Glassdoor est.)', '$48K-$93K (Glassdoor est.)',
       '$54K-$115K (Glassdoor est.)', '$60K-$127K (Glassdoor est.)',
       '$90K-$179K (Glassdoor est.)', '$138K-$224K (Glassdoor est.)',
       '$190K-$220K(Employer est.)', '$35K-$62K (Glassdoor est.)',
       '$18-$25 Per Hour(Glassdoor est.)', '$39K-$66K (Glassdoor est.)',
       '$42K-$86K (Glassdoor est.)', '$69K-$127K (Glassdoor est.)',
       '$40K-$68K (Glassdoor est.)', '$49K-$113K (Glassdoor est.)',
       '$75K-$140K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$76K-$125K (Glassdoor est.)', '$44K-$86K (Glassdoor est.)',
       '$15-$25 Per Hour(Glassdoor est.)', '$53K-$92K (Glassdoor est.)',
       '$65K-$120K (Glassdoor est.)', '$60K-$103K (Glassdoor est.)',
       '$53K-$105K (Glassdoor est.)', '$33K-$62K (Glassdoor est.)',
       '$48K-$90K (Glassdoor est.)', '$34K-$64K (Glassdoor est.)',
       '$66K-$111K (Glassdoor est.)', '$91K-$138K (Glassdoor est.)',
       '$62K-$114K (Glassdoor est.)', '$71K-$129K (Glassdoor est.)',
       '$74K-$119K (Glassdoor est.)', '$55K-$97K (Glassdoor est.)',
       '$15K-$16K(Employer est.)', '$61K-$106K (Glassdoor est.)',
       '$127K-$199K (Glassdoor est.)', '$74K-$126K (Glassdoor est.)',
       '$33K-$72K (Glassdoor est.)', '$37K-$63K (Glassdoor est.)',
       '$67K-$119K (Glassdoor est.)', '$72K-$117K (Glassdoor est.)',
       '$78K-$126K (Glassdoor est.)', '$116K-$194K (Glassdoor est.)',
       '$83K-$133K (Glassdoor est.)', '$45K-$82K (Glassdoor est.)',
       '$83K-$135K (Glassdoor est.)', '$70K-$122K (Glassdoor est.)',
       '$70K-$132K (Glassdoor est.)', '$54K-$101K (Glassdoor est.)',
       '$68K-$112K (Glassdoor est.)', '$42K-$74K (Glassdoor est.)',
       '$95K-$161K (Glassdoor est.)', '$76K-$126K (Glassdoor est.)',
       '$108K-$176K (Glassdoor est.)', '$130K-$208K (Glassdoor est.)',
       '$37K-$68K (Glassdoor est.)', '$52K-$99K (Glassdoor est.)',
       '$105K-$173K (Glassdoor est.)', '$71K-$134K (Glassdoor est.)',
       '$39K-$82K (Glassdoor est.)', '$88K-$162K (Glassdoor est.)',
       '$55K-$99K (Glassdoor est.)', '$67K-$117K (Glassdoor est.)',
       '$92K-$150K (Glassdoor est.)', '$116K-$209K (Glassdoor est.)',
       '$38K-$82K (Glassdoor est.)', 'Employer Provided Salary:$85K-$90K',
       '$62K-$119K (Glassdoor est.)', '$84K-$136K (Glassdoor est.)',
       '$52K-$89K (Glassdoor est.)', '$65K-$119K (Glassdoor est.)',
       '$63K-$101K (Glassdoor est.)', '$127K-$202K (Glassdoor est.)',
       '$31K-$57K (Glassdoor est.)', '$75K-$143K (Glassdoor est.)',
       '$105K-$194K (Glassdoor est.)', '$45K-$86K (Glassdoor est.)',
       '$95K-$154K (Glassdoor est.)', '$80K-$148K (Glassdoor est.)',
       '$36K-$62K (Glassdoor est.)', '$50K-$92K (Glassdoor est.)',
       '$67K-$135K (Glassdoor est.)', '$42K-$80K (Glassdoor est.)',
       '$68K-$139K (Glassdoor est.)', '$34K-$92K (Glassdoor est.)',
       '$54K-$71K (Glassdoor est.)', '$65K-$124K (Glassdoor est.)',
       '$109K-$200K (Glassdoor est.)', '$61K-$113K (Glassdoor est.)',
       '$43K-$86K (Glassdoor est.)', '$74K-$149K (Glassdoor est.)',
       '$113K-$196K (Glassdoor est.)', '$97K-$160K (Glassdoor est.)',
       '$24-$39 Per Hour(Glassdoor est.)', '$102K-$172K (Glassdoor est.)',
       '$108K-$171K (Glassdoor est.)', '$76K-$142K (Glassdoor est.)',
       '$202K-$306K (Glassdoor est.)', '$49K-$97K (Glassdoor est.)',
       '$65K-$134K (Glassdoor est.)', '$32K-$59K (Glassdoor est.)',
       '$87K-$158K (Glassdoor est.)', '$107K-$173K (Glassdoor est.)',
       '$56K-$99K (Glassdoor est.)',
       'Employer Provided Salary:$25-$28 Per Hour',
       '$80K-$155K (Glassdoor est.)', '$43K-$98K (Glassdoor est.)',
       '$45K-$78K (Glassdoor est.)', '$44K-$96K (Glassdoor est.)',
       '$50K-$110K (Glassdoor est.)', '$61K-$119K (Glassdoor est.)',
       'Employer Provided Salary:$100K-$140K',
       '$56K-$91K (Glassdoor est.)', '$101K-$158K (Glassdoor est.)',
       '$125K-$210K (Glassdoor est.)', '$43K-$77K (Glassdoor est.)',
       '$139K-$221K (Glassdoor est.)', '$78K-$147K (Glassdoor est.)',
       '$37K-$66K (Glassdoor est.)', '$38K-$64K (Glassdoor est.)',
       '$43K-$82K (Glassdoor est.)', '$90K-$110K(Employer est.)',
       '$93K-$151K (Glassdoor est.)', '$40K-$101K (Glassdoor est.)',
       '$97K-$180K (Glassdoor est.)', '$81K-$134K (Glassdoor est.)',
       '$84K-$157K (Glassdoor est.)', '$121K-$203K (Glassdoor est.)',
       '$52K-$85K (Glassdoor est.)', '$81K-$140K (Glassdoor est.)',
       '$83K-$148K (Glassdoor est.)', '$31K-$55K (Glassdoor est.)',
       '$102K-$178K (Glassdoor est.)',
       'Employer Provided Salary:$110K-$130K',
       '$48K-$85K (Glassdoor est.)', '$66K-$123K (Glassdoor est.)',
       '$92K-$146K (Glassdoor est.)', '$21-$29 Per Hour(Glassdoor est.)',
       '$10-$17 Per Hour(Glassdoor est.)', '$150K-$239K (Glassdoor est.)',
       '$52K-$91K (Glassdoor est.)', '$82K-$129K(Employer est.)',
       '$47K-$101K (Glassdoor est.)', '$49K-$76K (Glassdoor est.)',
       '$43K-$88K (Glassdoor est.)', '$124K-$199K (Glassdoor est.)',
       '$97K-$181K (Glassdoor est.)', '$100K-$173K (Glassdoor est.)',
       '$53K-$96K (Glassdoor est.)', '$65K-$96K (Glassdoor est.)',
       '$75K-$127K (Glassdoor est.)', '$94K-$139K (Glassdoor est.)',
       '$176K-$289K (Glassdoor est.)', '$92K-$149K (Glassdoor est.)',
       '$118K-$188K (Glassdoor est.)', '$108K-$146K (Glassdoor est.)',
       '$65K-$106K (Glassdoor est.)', '$55K-$98K (Glassdoor est.)',
       '$94K-$162K (Glassdoor est.)', '$63K-$120K (Glassdoor est.)',
       '$126K-$228K (Glassdoor est.)', '$80K-$134K (Glassdoor est.)',
       '$85K-$142K (Glassdoor est.)', '$87K-$140K (Glassdoor est.)',
       '$76K-$127K (Glassdoor est.)', '$54K-$92K (Glassdoor est.)',
       '$61K-$100K (Glassdoor est.)', '$112K-$179K (Glassdoor est.)',
       '$63K-$111K (Glassdoor est.)', '$75K-$126K (Glassdoor est.)',
       '$110K-$184K (Glassdoor est.)', '$76K-$145K (Glassdoor est.)',
       '$70K-$118K (Glassdoor est.)', '$94K-$153K (Glassdoor est.)',
       '$150K-$180K (Glassdoor est.)', '$42K-$77K (Glassdoor est.)',
       '$47K-$85K (Glassdoor est.)', '$62K-$112K (Glassdoor est.)',
       '$64K-$108K (Glassdoor est.)', '$89K-$144K (Glassdoor est.)',
       '$55K-$105K (Glassdoor est.)', '$135K-$211K (Glassdoor est.)',
       '$57K-$80K (Glassdoor est.)', '$129K-$215K (Glassdoor est.)',
       '$63K-$127K (Glassdoor est.)', '$50K-$89K (Glassdoor est.)',
       '$71K-$124K (Glassdoor est.)', '$69K-$121K (Glassdoor est.)',
       '$150K-$238K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)',
       '$59K-$112K (Glassdoor est.)', '$35K-$65K (Glassdoor est.)',
       '$79K-$147K (Glassdoor est.)', '$119K-$187K (Glassdoor est.)',
       '$90K-$157K (Glassdoor est.)', '$32K-$62K (Glassdoor est.)',
       '$116K-$208K (Glassdoor est.)', '$102K-$165K (Glassdoor est.)',
       '$91K-$159K (Glassdoor est.)', '$80K-$133K (Glassdoor est.)',
       '$39K-$69K (Glassdoor est.)', '$27K-$48K (Glassdoor est.)',
       '$36K-$71K (Glassdoor est.)', '$130K-$206K (Glassdoor est.)',
       '$99K-$178K (Glassdoor est.)', '$86K-$137K (Glassdoor est.)',
       '$37K-$100K (Glassdoor est.)', '$58K-$111K (Glassdoor est.)',
       '$72K-$133K (Glassdoor est.)', '$61K-$126K (Glassdoor est.)',
       '$95K-$160K (Glassdoor est.)', '$33K-$61K (Glassdoor est.)',
       '$69K-$119K (Glassdoor est.)', '$67K-$127K (Glassdoor est.)',
       '$66K-$117K (Glassdoor est.)', '$50K-$98K (Glassdoor est.)',
       '$90K-$153K (Glassdoor est.)',
       'Employer Provided Salary:$100K-$135K',
       '$42K-$79K (Glassdoor est.)', '$84K-$153K (Glassdoor est.)',
       '$44K-$73K (Glassdoor est.)', '$40K-$87K (Glassdoor est.)',
       '$72K-$142K (Glassdoor est.)', '$74K-$137K (Glassdoor est.)',
       '$57K-$109K (Glassdoor est.)', '$136K-$208K (Glassdoor est.)',
       '$171K-$272K (Glassdoor est.)', '$65K-$126K (Glassdoor est.)',
       '$118K-$228K (Glassdoor est.)', '$113K-$182K (Glassdoor est.)',
       '$58K-$104K (Glassdoor est.)', '$58K-$108K (Glassdoor est.)',
       '$81K-$161K (Glassdoor est.)', '$115K-$220K (Glassdoor est.)',
       '$71K-$144K (Glassdoor est.)', '$32K-$57K (Glassdoor est.)',
       '$79K-$136K (Glassdoor est.)', '$48K-$113K (Glassdoor est.)',
       '$27-$47 Per Hour(Glassdoor est.)', '$68K-$125K (Glassdoor est.)',
       '$39K-$67K (Glassdoor est.)', '$71K-$135K (Glassdoor est.)',
       '$61K-$123K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$71K-$121K (Glassdoor est.)', '$72K-$121K (Glassdoor est.)',
       '$51K-$88K (Glassdoor est.)', '$101K-$141K (Glassdoor est.)',
       '$79K-$127K (Glassdoor est.)', '$81K-$132K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$140K',
       '$65K-$113K (Glassdoor est.)', '$59K-$125K (Glassdoor est.)',
       '$80K-$142K (Glassdoor est.)', '$62K-$113K (Glassdoor est.)'],
      dtype=object)

In [12]:
df['Salary Estimate'] = df['Salary Estimate'].str.split('(').str[0]
sal = df.copy()
sal

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer Provided Sal
0,Data Scientist,$53K-$91K,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,Healthcare Data Scientist,$63K-$112K,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,Data Scientist,$80K-$90K,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,Data Scientist,$56K-$97K,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,Data Scientist,$86K-$143K,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK\r\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0
951,Senior Data Engineer,$72K-$133K,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite\r\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0
953,Data Science Manager,$95K-$160K,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0
955,Research Scientist – Security and Privacy,$61K-$126K,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0

In [13]:
sal['Salary Estimate'].unique()

array(['$53K-$91K ', '$63K-$112K ', '$80K-$90K ', '$56K-$97K ',
       '$86K-$143K ', '$71K-$119K ', '$54K-$93K ', '$86K-$142K ',
       '$38K-$84K ', '$120K-$160K ', '$126K-$201K ', '$64K-$106K ',
       '$106K-$172K ', '$46K-$85K ', '$83K-$144K ', '$102K-$190K ',
       '$67K-$137K ', '$118K-$189K ', '$110K-$175K ', '$64K-$111K ',
       '$81K-$130K ', '$73K-$119K ', '$86K-$139K ', '$63K-$105K ',
       '$109K-$177K ', '$63K-$110K ', '$75K-$124K ', '$34K-$61K ',
       '$72K-$120K ', '$93K-$149K ', '$85K-$140K ', '$77K-$135K ',
       '$82K-$132K ', '$83K-$137K ', '$115K-$180K ', '$74K-$138K ',
       '$64K-$112K ', '$68K-$129K ', '$52K-$113K ', '$110K-$150K',
       'Employer Provided Salary:$150K-$160K', '$158K-$211K ',
       '$20K-$39K ', '$56K-$117K ', '$63K-$99K ', '$68K-$114K ',
       '$41K-$95K ', '$86K-$144K ', '$80K-$139K ', '$56K-$95K ',
       '$120K-$189K ', '$111K-$176K ', '$84K-$146K ', '$107K-$172K ',
       '$49K-$85K ', '$61K-$109K ', '$88K-$148K ', '$60K-$99K ',
       '$41K-$72K ', '$96K-$161K ', '$65K-$130K ', '$52K-$81K ',
       '$139K-$220K ', '$50K-$102K ', '$85K-$139K ', '$74K-$122K ',
       '$99K-$157K ', '$79K-$222K ', '$57K-$118K ', '$86K-$141K ',
       '$94K-$154K ', '$37K-$76K ', '$100K-$160K ', '$55K-$100K ',
       '$60K-$114K ', '$39K-$68K ', '$64K-$107K ', '$31K-$65K ',
       '$34K-$62K ', '$117K-$231K ', '$79K-$134K ', '$52K-$93K ',
       '$55K-$116K ', '$72K-$123K ', '$74K-$124K ', '$40K-$73K ',
       '$102K-$164K ', '$89K-$153K ', '$61K-$110K ', '$65K-$110K ',
       '$200K-$275K', '$68K-$123K ', '$80K-$129K ', '$39K-$71K ',
       '$38K-$85K ', '$121K-$193K ', '$54K-$102K ', '$102K-$163K ',
       '$76K-$140K ', '$60K-$101K ', '$82K-$133K ', '$65K-$125K ',
       '$91K-$148K ', '$95K-$173K ', '$77K-$124K ', '$80K-$135K ',
       '$85K-$159K ', '$80K-$105K', '$43K-$81K ', '$29K-$50K ',
       '$26K-$55K ', '$61K-$118K ', '$60K-$102K ', '$112K-$182K ',
       '$51K-$112K ', '$113K-$223K ', '$72K-$129K ', '$71K-$123K ',
       'Employer Provided Salary:$120K-$145K', '$80K-$120K ',
       '$80K-$130K ', '$59K-$115K ', '$71K-$136K ', '$81K-$167K ',
       '$71K-$204K ', '$75K-$125K ', '$77K-$136K ', '$74K-$123K ',
       '$44K-$78K ', '$65K-$148K ', '$59K-$110K ', '$85K-$134K ',
       '$124K-$204K ', '$131K-$207K ', '$110K-$174K ', '$52K-$101K ',
       '$81K-$133K ', '$132K-$211K ', '$74K-$140K ', '$100K-$190K ',
       '$43K-$80K ', '$17-$24 Per Hour', '$91K-$149K ', '$42K-$82K ',
       '$116K-$185K ', '$59K-$116K ', '$48K-$95K ', '$31K-$72K ',
       '$105K-$198K ', '$98K-$182K ', '$73K-$124K ',
       'Employer Provided Salary:$200K-$250K', '$21-$34 Per Hour',
       '$117K-$206K ', '$111K-$183K ', '$81K-$159K ', '$83K-$166K ',
       '$114K-$182K ', '$42K-$76K ', '$114K-$179K ', '$60K-$123K ',
       '$100K-$166K ', '$108K-$173K ', '$48K-$93K ', '$54K-$115K ',
       '$60K-$127K ', '$90K-$179K ', '$138K-$224K ', '$190K-$220K',
       '$35K-$62K ', '$18-$25 Per Hour', '$39K-$66K ', '$42K-$86K ',
       '$69K-$127K ', '$40K-$68K ', '$49K-$113K ', '$75K-$140K ',
       '$66K-$112K ', '$76K-$125K ', '$44K-$86K ', '$15-$25 Per Hour',
       '$53K-$92K ', '$65K-$120K ', '$60K-$103K ', '$53K-$105K ',
       '$33K-$62K ', '$48K-$90K ', '$34K-$64K ', '$66K-$111K ',
       '$91K-$138K ', '$62K-$114K ', '$71K-$129K ', '$74K-$119K ',
       '$55K-$97K ', '$15K-$16K', '$61K-$106K ', '$127K-$199K ',
       '$74K-$126K ', '$33K-$72K ', '$37K-$63K ', '$67K-$119K ',
       '$72K-$117K ', '$78K-$126K ', '$116K-$194K ', '$83K-$133K ',
       '$45K-$82K ', '$83K-$135K ', '$70K-$122K ', '$70K-$132K ',
       '$54K-$101K ', '$68K-$112K ', '$42K-$74K ', '$95K-$161K ',
       '$76K-$126K ', '$108K-$176K ', '$130K-$208K ', '$37K-$68K ',
       '$52K-$99K ', '$105K-$173K ', '$71K-$134K ', '$39K-$82K ',
       '$88K-$162K ', '$55K-$99K ', '$67K-$117K ', '$92K-$150K ',
       '$116K-$209K ', '$38K-$82K ', 'Employer Provided Salary:$85K-$90K',
       '$62K-$119K ', '$84K-$136K ', '$52K-$89K ', '$65K-$119K ',
       '$63K-$101K ', '$127K-$202K ', '$31K-$57K ', '$75K-$143K ',
       '$105K-$194K ', '$45K-$86K ', '$95K-$154K ', '$80K-$148K ',
       '$36K-$62K ', '$50K-$92K ', '$67K-$135K ', '$42K-$80K ',
       '$68K-$139K ', '$34K-$92K ', '$54K-$71K ', '$65K-$124K ',
       '$109K-$200K ', '$61K-$113K ', '$43K-$86K ', '$74K-$149K ',
       '$113K-$196K ', '$97K-$160K ', '$24-$39 Per Hour', '$102K-$172K ',
       '$108K-$171K ', '$76K-$142K ', '$202K-$306K ', '$49K-$97K ',
       '$65K-$134K ', '$32K-$59K ', '$87K-$158K ', '$107K-$173K ',
       '$56K-$99K ', 'Employer Provided Salary:$25-$28 Per Hour',
       '$80K-$155K ', '$43K-$98K ', '$45K-$78K ', '$44K-$96K ',
       '$50K-$110K ', '$61K-$119K ',
       'Employer Provided Salary:$100K-$140K', '$56K-$91K ',
       '$101K-$158K ', '$125K-$210K ', '$43K-$77K ', '$139K-$221K ',
       '$78K-$147K ', '$37K-$66K ', '$38K-$64K ', '$43K-$82K ',
       '$90K-$110K', '$93K-$151K ', '$40K-$101K ', '$97K-$180K ',
       '$81K-$134K ', '$84K-$157K ', '$121K-$203K ', '$52K-$85K ',
       '$81K-$140K ', '$83K-$148K ', '$31K-$55K ', '$102K-$178K ',
       'Employer Provided Salary:$110K-$130K', '$48K-$85K ',
       '$66K-$123K ', '$92K-$146K ', '$21-$29 Per Hour',
       '$10-$17 Per Hour', '$150K-$239K ', '$52K-$91K ', '$82K-$129K',
       '$47K-$101K ', '$49K-$76K ', '$43K-$88K ', '$124K-$199K ',
       '$97K-$181K ', '$100K-$173K ', '$53K-$96K ', '$65K-$96K ',
       '$75K-$127K ', '$94K-$139K ', '$176K-$289K ', '$92K-$149K ',
       '$118K-$188K ', '$108K-$146K ', '$65K-$106K ', '$55K-$98K ',
       '$94K-$162K ', '$63K-$120K ', '$126K-$228K ', '$80K-$134K ',
       '$85K-$142K ', '$87K-$140K ', '$76K-$127K ', '$54K-$92K ',
       '$61K-$100K ', '$112K-$179K ', '$63K-$111K ', '$75K-$126K ',
       '$110K-$184K ', '$76K-$145K ', '$70K-$118K ', '$94K-$153K ',
       '$150K-$180K ', '$42K-$77K ', '$47K-$85K ', '$62K-$112K ',
       '$64K-$108K ', '$89K-$144K ', '$55K-$105K ', '$135K-$211K ',
       '$57K-$80K ', '$129K-$215K ', '$63K-$127K ', '$50K-$89K ',
       '$71K-$124K ', '$69K-$121K ', '$150K-$238K ', '$77K-$132K ',
       '$59K-$112K ', '$35K-$65K ', '$79K-$147K ', '$119K-$187K ',
       '$90K-$157K ', '$32K-$62K ', '$116K-$208K ', '$102K-$165K ',
       '$91K-$159K ', '$80K-$133K ', '$39K-$69K ', '$27K-$48K ',
       '$36K-$71K ', '$130K-$206K ', '$99K-$178K ', '$86K-$137K ',
       '$37K-$100K ', '$58K-$111K ', '$72K-$133K ', '$61K-$126K ',
       '$95K-$160K ', '$33K-$61K ', '$69K-$119K ', '$67K-$127K ',
       '$66K-$117K ', '$50K-$98K ', '$90K-$153K ',
       'Employer Provided Salary:$100K-$135K', '$42K-$79K ',
       '$84K-$153K ', '$44K-$73K ', '$40K-$87K ', '$72K-$142K ',
       '$74K-$137K ', '$57K-$109K ', '$136K-$208K ', '$171K-$272K ',
       '$65K-$126K ', '$118K-$228K ', '$113K-$182K ', '$58K-$104K ',
       '$58K-$108K ', '$81K-$161K ', '$115K-$220K ', '$71K-$144K ',
       '$32K-$57K ', '$79K-$136K ', '$48K-$113K ', '$27-$47 Per Hour',
       '$68K-$125K ', '$39K-$67K ', '$71K-$135K ', '$61K-$123K ',
       '$87K-$141K ', '$71K-$121K ', '$72K-$121K ', '$51K-$88K ',
       '$101K-$141K ', '$79K-$127K ', '$81K-$132K ',
       'Employer Provided Salary:$120K-$140K', '$65K-$113K ',
       '$59K-$125K ', '$80K-$142K ', '$62K-$113K '], dtype=object)

In [14]:
#let's remove the phrase 'Per Hour'
sal['Salary Estimate'] = sal['Salary Estimate'].str.replace('Per Hour','').str.replace('Employer Provided Salary:','')
sal['Salary Estimate'].unique()

array(['$53K-$91K ', '$63K-$112K ', '$80K-$90K ', '$56K-$97K ',
       '$86K-$143K ', '$71K-$119K ', '$54K-$93K ', '$86K-$142K ',
       '$38K-$84K ', '$120K-$160K ', '$126K-$201K ', '$64K-$106K ',
       '$106K-$172K ', '$46K-$85K ', '$83K-$144K ', '$102K-$190K ',
       '$67K-$137K ', '$118K-$189K ', '$110K-$175K ', '$64K-$111K ',
       '$81K-$130K ', '$73K-$119K ', '$86K-$139K ', '$63K-$105K ',
       '$109K-$177K ', '$63K-$110K ', '$75K-$124K ', '$34K-$61K ',
       '$72K-$120K ', '$93K-$149K ', '$85K-$140K ', '$77K-$135K ',
       '$82K-$132K ', '$83K-$137K ', '$115K-$180K ', '$74K-$138K ',
       '$64K-$112K ', '$68K-$129K ', '$52K-$113K ', '$110K-$150K',
       '$150K-$160K', '$158K-$211K ', '$20K-$39K ', '$56K-$117K ',
       '$63K-$99K ', '$68K-$114K ', '$41K-$95K ', '$86K-$144K ',
       '$80K-$139K ', '$56K-$95K ', '$120K-$189K ', '$111K-$176K ',
       '$84K-$146K ', '$107K-$172K ', '$49K-$85K ', '$61K-$109K ',
       '$88K-$148K ', '$60K-$99K ', '$41K-$72K ', '$96K-$161K ',
       '$65K-$130K ', '$52K-$81K ', '$139K-$220K ', '$50K-$102K ',
       '$85K-$139K ', '$74K-$122K ', '$99K-$157K ', '$79K-$222K ',
       '$57K-$118K ', '$86K-$141K ', '$94K-$154K ', '$37K-$76K ',
       '$100K-$160K ', '$55K-$100K ', '$60K-$114K ', '$39K-$68K ',
       '$64K-$107K ', '$31K-$65K ', '$34K-$62K ', '$117K-$231K ',
       '$79K-$134K ', '$52K-$93K ', '$55K-$116K ', '$72K-$123K ',
       '$74K-$124K ', '$40K-$73K ', '$102K-$164K ', '$89K-$153K ',
       '$61K-$110K ', '$65K-$110K ', '$200K-$275K', '$68K-$123K ',
       '$80K-$129K ', '$39K-$71K ', '$38K-$85K ', '$121K-$193K ',
       '$54K-$102K ', '$102K-$163K ', '$76K-$140K ', '$60K-$101K ',
       '$82K-$133K ', '$65K-$125K ', '$91K-$148K ', '$95K-$173K ',
       '$77K-$124K ', '$80K-$135K ', '$85K-$159K ', '$80K-$105K',
       '$43K-$81K ', '$29K-$50K ', '$26K-$55K ', '$61K-$118K ',
       '$60K-$102K ', '$112K-$182K ', '$51K-$112K ', '$113K-$223K ',
       '$72K-$129K ', '$71K-$123K ', '$120K-$145K', '$80K-$120K ',
       '$80K-$130K ', '$59K-$115K ', '$71K-$136K ', '$81K-$167K ',
       '$71K-$204K ', '$75K-$125K ', '$77K-$136K ', '$74K-$123K ',
       '$44K-$78K ', '$65K-$148K ', '$59K-$110K ', '$85K-$134K ',
       '$124K-$204K ', '$131K-$207K ', '$110K-$174K ', '$52K-$101K ',
       '$81K-$133K ', '$132K-$211K ', '$74K-$140K ', '$100K-$190K ',
       '$43K-$80K ', '$17-$24 ', '$91K-$149K ', '$42K-$82K ',
       '$116K-$185K ', '$59K-$116K ', '$48K-$95K ', '$31K-$72K ',
       '$105K-$198K ', '$98K-$182K ', '$73K-$124K ', '$200K-$250K',
       '$21-$34 ', '$117K-$206K ', '$111K-$183K ', '$81K-$159K ',
       '$83K-$166K ', '$114K-$182K ', '$42K-$76K ', '$114K-$179K ',
       '$60K-$123K ', '$100K-$166K ', '$108K-$173K ', '$48K-$93K ',
       '$54K-$115K ', '$60K-$127K ', '$90K-$179K ', '$138K-$224K ',
       '$190K-$220K', '$35K-$62K ', '$18-$25 ', '$39K-$66K ',
       '$42K-$86K ', '$69K-$127K ', '$40K-$68K ', '$49K-$113K ',
       '$75K-$140K ', '$66K-$112K ', '$76K-$125K ', '$44K-$86K ',
       '$15-$25 ', '$53K-$92K ', '$65K-$120K ', '$60K-$103K ',
       '$53K-$105K ', '$33K-$62K ', '$48K-$90K ', '$34K-$64K ',
       '$66K-$111K ', '$91K-$138K ', '$62K-$114K ', '$71K-$129K ',
       '$74K-$119K ', '$55K-$97K ', '$15K-$16K', '$61K-$106K ',
       '$127K-$199K ', '$74K-$126K ', '$33K-$72K ', '$37K-$63K ',
       '$67K-$119K ', '$72K-$117K ', '$78K-$126K ', '$116K-$194K ',
       '$83K-$133K ', '$45K-$82K ', '$83K-$135K ', '$70K-$122K ',
       '$70K-$132K ', '$54K-$101K ', '$68K-$112K ', '$42K-$74K ',
       '$95K-$161K ', '$76K-$126K ', '$108K-$176K ', '$130K-$208K ',
       '$37K-$68K ', '$52K-$99K ', '$105K-$173K ', '$71K-$134K ',
       '$39K-$82K ', '$88K-$162K ', '$55K-$99K ', '$67K-$117K ',
       '$92K-$150K ', '$116K-$209K ', '$38K-$82K ', '$85K-$90K',
       '$62K-$119K ', '$84K-$136K ', '$52K-$89K ', '$65K-$119K ',
       '$63K-$101K ', '$127K-$202K ', '$31K-$57K ', '$75K-$143K ',
       '$105K-$194K ', '$45K-$86K ', '$95K-$154K ', '$80K-$148K ',
       '$36K-$62K ', '$50K-$92K ', '$67K-$135K ', '$42K-$80K ',
       '$68K-$139K ', '$34K-$92K ', '$54K-$71K ', '$65K-$124K ',
       '$109K-$200K ', '$61K-$113K ', '$43K-$86K ', '$74K-$149K ',
       '$113K-$196K ', '$97K-$160K ', '$24-$39 ', '$102K-$172K ',
       '$108K-$171K ', '$76K-$142K ', '$202K-$306K ', '$49K-$97K ',
       '$65K-$134K ', '$32K-$59K ', '$87K-$158K ', '$107K-$173K ',
       '$56K-$99K ', '$25-$28 ', '$80K-$155K ', '$43K-$98K ',
       '$45K-$78K ', '$44K-$96K ', '$50K-$110K ', '$61K-$119K ',
       '$100K-$140K', '$56K-$91K ', '$101K-$158K ', '$125K-$210K ',
       '$43K-$77K ', '$139K-$221K ', '$78K-$147K ', '$37K-$66K ',
       '$38K-$64K ', '$43K-$82K ', '$90K-$110K', '$93K-$151K ',
       '$40K-$101K ', '$97K-$180K ', '$81K-$134K ', '$84K-$157K ',
       '$121K-$203K ', '$52K-$85K ', '$81K-$140K ', '$83K-$148K ',
       '$31K-$55K ', '$102K-$178K ', '$110K-$130K', '$48K-$85K ',
       '$66K-$123K ', '$92K-$146K ', '$21-$29 ', '$10-$17 ',
       '$150K-$239K ', '$52K-$91K ', '$82K-$129K', '$47K-$101K ',
       '$49K-$76K ', '$43K-$88K ', '$124K-$199K ', '$97K-$181K ',
       '$100K-$173K ', '$53K-$96K ', '$65K-$96K ', '$75K-$127K ',
       '$94K-$139K ', '$176K-$289K ', '$92K-$149K ', '$118K-$188K ',
       '$108K-$146K ', '$65K-$106K ', '$55K-$98K ', '$94K-$162K ',
       '$63K-$120K ', '$126K-$228K ', '$80K-$134K ', '$85K-$142K ',
       '$87K-$140K ', '$76K-$127K ', '$54K-$92K ', '$61K-$100K ',
       '$112K-$179K ', '$63K-$111K ', '$75K-$126K ', '$110K-$184K ',
       '$76K-$145K ', '$70K-$118K ', '$94K-$153K ', '$150K-$180K ',
       '$42K-$77K ', '$47K-$85K ', '$62K-$112K ', '$64K-$108K ',
       '$89K-$144K ', '$55K-$105K ', '$135K-$211K ', '$57K-$80K ',
       '$129K-$215K ', '$63K-$127K ', '$50K-$89K ', '$71K-$124K ',
       '$69K-$121K ', '$150K-$238K ', '$77K-$132K ', '$59K-$112K ',
       '$35K-$65K ', '$79K-$147K ', '$119K-$187K ', '$90K-$157K ',
       '$32K-$62K ', '$116K-$208K ', '$102K-$165K ', '$91K-$159K ',
       '$80K-$133K ', '$39K-$69K ', '$27K-$48K ', '$36K-$71K ',
       '$130K-$206K ', '$99K-$178K ', '$86K-$137K ', '$37K-$100K ',
       '$58K-$111K ', '$72K-$133K ', '$61K-$126K ', '$95K-$160K ',
       '$33K-$61K ', '$69K-$119K ', '$67K-$127K ', '$66K-$117K ',
       '$50K-$98K ', '$90K-$153K ', '$100K-$135K', '$42K-$79K ',
       '$84K-$153K ', '$44K-$73K ', '$40K-$87K ', '$72K-$142K ',
       '$74K-$137K ', '$57K-$109K ', '$136K-$208K ', '$171K-$272K ',
       '$65K-$126K ', '$118K-$228K ', '$113K-$182K ', '$58K-$104K ',
       '$58K-$108K ', '$81K-$161K ', '$115K-$220K ', '$71K-$144K ',
       '$32K-$57K ', '$79K-$136K ', '$48K-$113K ', '$27-$47 ',
       '$68K-$125K ', '$39K-$67K ', '$71K-$135K ', '$61K-$123K ',
       '$87K-$141K ', '$71K-$121K ', '$72K-$121K ', '$51K-$88K ',
       '$101K-$141K ', '$79K-$127K ', '$81K-$132K ', '$120K-$140K',
       '$65K-$113K ', '$59K-$125K ', '$80K-$142K ', '$62K-$113K '],
      dtype=object)

In [15]:
#let's remove whitespace on either side
sal['Salary Estimate'] = sal['Salary Estimate'].str.strip()
sal['Salary Estimate'].unique() #all whitespace stripped

array(['$53K-$91K', '$63K-$112K', '$80K-$90K', '$56K-$97K', '$86K-$143K',
       '$71K-$119K', '$54K-$93K', '$86K-$142K', '$38K-$84K',
       '$120K-$160K', '$126K-$201K', '$64K-$106K', '$106K-$172K',
       '$46K-$85K', '$83K-$144K', '$102K-$190K', '$67K-$137K',
       '$118K-$189K', '$110K-$175K', '$64K-$111K', '$81K-$130K',
       '$73K-$119K', '$86K-$139K', '$63K-$105K', '$109K-$177K',
       '$63K-$110K', '$75K-$124K', '$34K-$61K', '$72K-$120K',
       '$93K-$149K', '$85K-$140K', '$77K-$135K', '$82K-$132K',
       '$83K-$137K', '$115K-$180K', '$74K-$138K', '$64K-$112K',
       '$68K-$129K', '$52K-$113K', '$110K-$150K', '$150K-$160K',
       '$158K-$211K', '$20K-$39K', '$56K-$117K', '$63K-$99K',
       '$68K-$114K', '$41K-$95K', '$86K-$144K', '$80K-$139K', '$56K-$95K',
       '$120K-$189K', '$111K-$176K', '$84K-$146K', '$107K-$172K',
       '$49K-$85K', '$61K-$109K', '$88K-$148K', '$60K-$99K', '$41K-$72K',
       '$96K-$161K', '$65K-$130K', '$52K-$81K', '$139K-$220K',
       '$50K-$102K', '$85K-$139K', '$74K-$122K', '$99K-$157K',
       '$79K-$222K', '$57K-$118K', '$86K-$141K', '$94K-$154K',
       '$37K-$76K', '$100K-$160K', '$55K-$100K', '$60K-$114K',
       '$39K-$68K', '$64K-$107K', '$31K-$65K', '$34K-$62K', '$117K-$231K',
       '$79K-$134K', '$52K-$93K', '$55K-$116K', '$72K-$123K',
       '$74K-$124K', '$40K-$73K', '$102K-$164K', '$89K-$153K',
       '$61K-$110K', '$65K-$110K', '$200K-$275K', '$68K-$123K',
       '$80K-$129K', '$39K-$71K', '$38K-$85K', '$121K-$193K',
       '$54K-$102K', '$102K-$163K', '$76K-$140K', '$60K-$101K',
       '$82K-$133K', '$65K-$125K', '$91K-$148K', '$95K-$173K',
       '$77K-$124K', '$80K-$135K', '$85K-$159K', '$80K-$105K',
       '$43K-$81K', '$29K-$50K', '$26K-$55K', '$61K-$118K', '$60K-$102K',
       '$112K-$182K', '$51K-$112K', '$113K-$223K', '$72K-$129K',
       '$71K-$123K', '$120K-$145K', '$80K-$120K', '$80K-$130K',
       '$59K-$115K', '$71K-$136K', '$81K-$167K', '$71K-$204K',
       '$75K-$125K', '$77K-$136K', '$74K-$123K', '$44K-$78K',
       '$65K-$148K', '$59K-$110K', '$85K-$134K', '$124K-$204K',
       '$131K-$207K', '$110K-$174K', '$52K-$101K', '$81K-$133K',
       '$132K-$211K', '$74K-$140K', '$100K-$190K', '$43K-$80K', '$17-$24',
       '$91K-$149K', '$42K-$82K', '$116K-$185K', '$59K-$116K',
       '$48K-$95K', '$31K-$72K', '$105K-$198K', '$98K-$182K',
       '$73K-$124K', '$200K-$250K', '$21-$34', '$117K-$206K',
       '$111K-$183K', '$81K-$159K', '$83K-$166K', '$114K-$182K',
       '$42K-$76K', '$114K-$179K', '$60K-$123K', '$100K-$166K',
       '$108K-$173K', '$48K-$93K', '$54K-$115K', '$60K-$127K',
       '$90K-$179K', '$138K-$224K', '$190K-$220K', '$35K-$62K', '$18-$25',
       '$39K-$66K', '$42K-$86K', '$69K-$127K', '$40K-$68K', '$49K-$113K',
       '$75K-$140K', '$66K-$112K', '$76K-$125K', '$44K-$86K', '$15-$25',
       '$53K-$92K', '$65K-$120K', '$60K-$103K', '$53K-$105K', '$33K-$62K',
       '$48K-$90K', '$34K-$64K', '$66K-$111K', '$91K-$138K', '$62K-$114K',
       '$71K-$129K', '$74K-$119K', '$55K-$97K', '$15K-$16K', '$61K-$106K',
       '$127K-$199K', '$74K-$126K', '$33K-$72K', '$37K-$63K',
       '$67K-$119K', '$72K-$117K', '$78K-$126K', '$116K-$194K',
       '$83K-$133K', '$45K-$82K', '$83K-$135K', '$70K-$122K',
       '$70K-$132K', '$54K-$101K', '$68K-$112K', '$42K-$74K',
       '$95K-$161K', '$76K-$126K', '$108K-$176K', '$130K-$208K',
       '$37K-$68K', '$52K-$99K', '$105K-$173K', '$71K-$134K', '$39K-$82K',
       '$88K-$162K', '$55K-$99K', '$67K-$117K', '$92K-$150K',
       '$116K-$209K', '$38K-$82K', '$85K-$90K', '$62K-$119K',
       '$84K-$136K', '$52K-$89K', '$65K-$119K', '$63K-$101K',
       '$127K-$202K', '$31K-$57K', '$75K-$143K', '$105K-$194K',
       '$45K-$86K', '$95K-$154K', '$80K-$148K', '$36K-$62K', '$50K-$92K',
       '$67K-$135K', '$42K-$80K', '$68K-$139K', '$34K-$92K', '$54K-$71K',
       '$65K-$124K', '$109K-$200K', '$61K-$113K', '$43K-$86K',
       '$74K-$149K', '$113K-$196K', '$97K-$160K', '$24-$39',
       '$102K-$172K', '$108K-$171K', '$76K-$142K', '$202K-$306K',
       '$49K-$97K', '$65K-$134K', '$32K-$59K', '$87K-$158K',
       '$107K-$173K', '$56K-$99K', '$25-$28', '$80K-$155K', '$43K-$98K',
       '$45K-$78K', '$44K-$96K', '$50K-$110K', '$61K-$119K',
       '$100K-$140K', '$56K-$91K', '$101K-$158K', '$125K-$210K',
       '$43K-$77K', '$139K-$221K', '$78K-$147K', '$37K-$66K', '$38K-$64K',
       '$43K-$82K', '$90K-$110K', '$93K-$151K', '$40K-$101K',
       '$97K-$180K', '$81K-$134K', '$84K-$157K', '$121K-$203K',
       '$52K-$85K', '$81K-$140K', '$83K-$148K', '$31K-$55K',
       '$102K-$178K', '$110K-$130K', '$48K-$85K', '$66K-$123K',
       '$92K-$146K', '$21-$29', '$10-$17', '$150K-$239K', '$52K-$91K',
       '$82K-$129K', '$47K-$101K', '$49K-$76K', '$43K-$88K',
       '$124K-$199K', '$97K-$181K', '$100K-$173K', '$53K-$96K',
       '$65K-$96K', '$75K-$127K', '$94K-$139K', '$176K-$289K',
       '$92K-$149K', '$118K-$188K', '$108K-$146K', '$65K-$106K',
       '$55K-$98K', '$94K-$162K', '$63K-$120K', '$126K-$228K',
       '$80K-$134K', '$85K-$142K', '$87K-$140K', '$76K-$127K',
       '$54K-$92K', '$61K-$100K', '$112K-$179K', '$63K-$111K',
       '$75K-$126K', '$110K-$184K', '$76K-$145K', '$70K-$118K',
       '$94K-$153K', '$150K-$180K', '$42K-$77K', '$47K-$85K',
       '$62K-$112K', '$64K-$108K', '$89K-$144K', '$55K-$105K',
       '$135K-$211K', '$57K-$80K', '$129K-$215K', '$63K-$127K',
       '$50K-$89K', '$71K-$124K', '$69K-$121K', '$150K-$238K',
       '$77K-$132K', '$59K-$112K', '$35K-$65K', '$79K-$147K',
       '$119K-$187K', '$90K-$157K', '$32K-$62K', '$116K-$208K',
       '$102K-$165K', '$91K-$159K', '$80K-$133K', '$39K-$69K',
       '$27K-$48K', '$36K-$71K', '$130K-$206K', '$99K-$178K',
       '$86K-$137K', '$37K-$100K', '$58K-$111K', '$72K-$133K',
       '$61K-$126K', '$95K-$160K', '$33K-$61K', '$69K-$119K',
       '$67K-$127K', '$66K-$117K', '$50K-$98K', '$90K-$153K',
       '$100K-$135K', '$42K-$79K', '$84K-$153K', '$44K-$73K', '$40K-$87K',
       '$72K-$142K', '$74K-$137K', '$57K-$109K', '$136K-$208K',
       '$171K-$272K', '$65K-$126K', '$118K-$228K', '$113K-$182K',
       '$58K-$104K', '$58K-$108K', '$81K-$161K', '$115K-$220K',
       '$71K-$144K', '$32K-$57K', '$79K-$136K', '$48K-$113K', '$27-$47',
       '$68K-$125K', '$39K-$67K', '$71K-$135K', '$61K-$123K',
       '$87K-$141K', '$71K-$121K', '$72K-$121K', '$51K-$88K',
       '$101K-$141K', '$79K-$127K', '$81K-$132K', '$120K-$140K',
       '$65K-$113K', '$59K-$125K', '$80K-$142K', '$62K-$113K'],
      dtype=object)

In [16]:
#finally let's have the est be a range of ints
sal['Salary Estimate'] = sal['Salary Estimate'].str.replace('$','').str.replace('K','')
sal['Salary Estimate'].unique()

<ipython-input-16-a06b9ca1b006>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sal['Salary Estimate'] = sal['Salary Estimate'].str.replace('$','').str.replace('K','')

array(['53-91', '63-112', '80-90', '56-97', '86-143', '71-119', '54-93',
       '86-142', '38-84', '120-160', '126-201', '64-106', '106-172',
       '46-85', '83-144', '102-190', '67-137', '118-189', '110-175',
       '64-111', '81-130', '73-119', '86-139', '63-105', '109-177',
       '63-110', '75-124', '34-61', '72-120', '93-149', '85-140',
       '77-135', '82-132', '83-137', '115-180', '74-138', '64-112',
       '68-129', '52-113', '110-150', '150-160', '158-211', '20-39',
       '56-117', '63-99', '68-114', '41-95', '86-144', '80-139', '56-95',
       '120-189', '111-176', '84-146', '107-172', '49-85', '61-109',
       '88-148', '60-99', '41-72', '96-161', '65-130', '52-81', '139-220',
       '50-102', '85-139', '74-122', '99-157', '79-222', '57-118',
       '86-141', '94-154', '37-76', '100-160', '55-100', '60-114',
       '39-68', '64-107', '31-65', '34-62', '117-231', '79-134', '52-93',
       '55-116', '72-123', '74-124', '40-73', '102-164', '89-153',
       '61-110', '65-110', '200-275', '68-123', '80-129', '39-71',
       '38-85', '121-193', '54-102', '102-163', '76-140', '60-101',
       '82-133', '65-125', '91-148', '95-173', '77-124', '80-135',
       '85-159', '80-105', '43-81', '29-50', '26-55', '61-118', '60-102',
       '112-182', '51-112', '113-223', '72-129', '71-123', '120-145',
       '80-120', '80-130', '59-115', '71-136', '81-167', '71-204',
       '75-125', '77-136', '74-123', '44-78', '65-148', '59-110',
       '85-134', '124-204', '131-207', '110-174', '52-101', '81-133',
       '132-211', '74-140', '100-190', '43-80', '17-24', '91-149',
       '42-82', '116-185', '59-116', '48-95', '31-72', '105-198',
       '98-182', '73-124', '200-250', '21-34', '117-206', '111-183',
       '81-159', '83-166', '114-182', '42-76', '114-179', '60-123',
       '100-166', '108-173', '48-93', '54-115', '60-127', '90-179',
       '138-224', '190-220', '35-62', '18-25', '39-66', '42-86', '69-127',
       '40-68', '49-113', '75-140', '66-112', '76-125', '44-86', '15-25',
       '53-92', '65-120', '60-103', '53-105', '33-62', '48-90', '34-64',
       '66-111', '91-138', '62-114', '71-129', '74-119', '55-97', '15-16',
       '61-106', '127-199', '74-126', '33-72', '37-63', '67-119',
       '72-117', '78-126', '116-194', '83-133', '45-82', '83-135',
       '70-122', '70-132', '54-101', '68-112', '42-74', '95-161',
       '76-126', '108-176', '130-208', '37-68', '52-99', '105-173',
       '71-134', '39-82', '88-162', '55-99', '67-117', '92-150',
       '116-209', '38-82', '85-90', '62-119', '84-136', '52-89', '65-119',
       '63-101', '127-202', '31-57', '75-143', '105-194', '45-86',
       '95-154', '80-148', '36-62', '50-92', '67-135', '42-80', '68-139',
       '34-92', '54-71', '65-124', '109-200', '61-113', '43-86', '74-149',
       '113-196', '97-160', '24-39', '102-172', '108-171', '76-142',
       '202-306', '49-97', '65-134', '32-59', '87-158', '107-173',
       '56-99', '25-28', '80-155', '43-98', '45-78', '44-96', '50-110',
       '61-119', '100-140', '56-91', '101-158', '125-210', '43-77',
       '139-221', '78-147', '37-66', '38-64', '43-82', '90-110', '93-151',
       '40-101', '97-180', '81-134', '84-157', '121-203', '52-85',
       '81-140', '83-148', '31-55', '102-178', '110-130', '48-85',
       '66-123', '92-146', '21-29', '10-17', '150-239', '52-91', '82-129',
       '47-101', '49-76', '43-88', '124-199', '97-181', '100-173',
       '53-96', '65-96', '75-127', '94-139', '176-289', '92-149',
       '118-188', '108-146', '65-106', '55-98', '94-162', '63-120',
       '126-228', '80-134', '85-142', '87-140', '76-127', '54-92',
       '61-100', '112-179', '63-111', '75-126', '110-184', '76-145',
       '70-118', '94-153', '150-180', '42-77', '47-85', '62-112',
       '64-108', '89-144', '55-105', '135-211', '57-80', '129-215',
       '63-127', '50-89', '71-124', '69-121', '150-238', '77-132',
       '59-112', '35-65', '79-147', '119-187', '90-157', '32-62',
       '116-208', '102-165', '91-159', '80-133', '39-69', '27-48',
       '36-71', '130-206', '99-178', '86-137', '37-100', '58-111',
       '72-133', '61-126', '95-160', '33-61', '69-119', '67-127',
       '66-117', '50-98', '90-153', '100-135', '42-79', '84-153', '44-73',
       '40-87', '72-142', '74-137', '57-109', '136-208', '171-272',
       '65-126', '118-228', '113-182', '58-104', '58-108', '81-161',
       '115-220', '71-144', '32-57', '79-136', '48-113', '27-47',
       '68-125', '39-67', '71-135', '61-123', '87-141', '71-121',
       '72-121', '51-88', '101-141', '79-127', '81-132', '120-140',
       '65-113', '59-125', '80-142', '62-113'], dtype=object)

In [17]:
sal.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer Provided Sal
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0

In [18]:
#create two columns, one that will have the min and the other the max, salary
sal['min_sal'] = sal['Salary Estimate'].str.split('-').str[0].astype(np.int64)
sal.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer Provided Sal,min_sal
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86

In [19]:
sal['max_sal'] = sal['Salary Estimate'].str.split('-').str[1].astype(np.int64)
sal.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer Provided Sal,min_sal,max_sal
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143

In [20]:
sal.info() #let's see if the new columns we made have data type of int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Job Title              742 non-null    object
 1   Salary Estimate        742 non-null    object
 2   Job Description        742 non-null    object
 3   Rating                 742 non-null    float64
 4   Company Name           742 non-null    object
 5   Location               742 non-null    object
 6   Headquarters           742 non-null    object
 7   Size                   742 non-null    object
 8   Founded                742 non-null    object
 9   Type of ownership      742 non-null    object
 10  Industry               742 non-null    object
 11  Sector                 742 non-null    object
 12  Revenue                742 non-null    object
 13  Competitors            742 non-null    object
 14  hourly                 742 non-null    int64
 15  Employer Provided Sal  742 non-null    int64
 16  min_sal                742 non-null    int64
 17  max_sal                742 non-null    int64
dtypes: float64(1), int64(4), object(13)
memory usage: 110.1+ KB

In [21]:
#let's create a column with the avg sal 
#gotten using the min and max sal

sal['avg_sal'] = (sal['min_sal'] + sal['max_sal'])/2
sal['avg_sal'].unique()

array([ 72. ,  87.5,  85. ,  76.5, 114.5,  95. ,  73.5, 114. ,  61. ,
       140. , 163.5, 139. ,  65.5, 113.5, 146. , 102. , 153.5, 142.5,
       105.5,  96. , 112.5,  84. , 143. ,  86.5,  99.5,  47.5, 121. ,
       106. , 107. , 110. , 147.5,  88. ,  98.5,  82.5, 130. , 155. ,
       184.5,  29.5,  81. ,  91. ,  68. , 115. , 109.5,  75.5, 154.5,
       143.5, 139.5,  67. , 118. ,  79.5,  56.5, 128.5,  97.5,  66.5,
       179.5,  76. , 112. ,  98. , 128. , 150.5, 124. ,  77.5,  87. ,
        53.5,  85.5,  48. , 174. , 106.5,  72.5,  99. , 133. , 237.5,
        95.5, 104.5,  55. ,  61.5, 157. ,  78. , 132.5, 108. ,  80.5,
       107.5, 119.5, 134. , 100.5, 122. ,  92.5,  62. ,  39.5,  40.5,
        89.5, 147. ,  81.5, 168. ,  97. , 100. , 105. , 103.5, 137.5,
        84.5, 164. , 169. , 142. , 171.5, 145. ,  20.5, 120. ,  71.5,
        51.5, 151.5, 225. ,  27.5, 161.5, 124.5, 148. ,  59. , 146.5,
        91.5, 140.5,  70.5,  93.5, 134.5, 181. , 205. ,  48.5,  21.5,
        52.5,  64. ,  54. ,  89. ,  65. ,  20. ,  79. ,  69. ,  49. ,
        88.5,  96.5,  15.5,  83.5, 163. ,  50. ,  93. ,  94.5,  63.5,
       109. , 101. ,  90. ,  58. , 102.5,  60.5, 125. ,  77. ,  92. ,
       162.5,  60. ,  90.5,  82. , 164.5,  44. , 149.5,  71. ,  63. ,
        62.5,  64.5, 111.5,  31.5, 137. , 254. ,  73. ,  45.5, 122.5,
        26.5, 117.5,  70. ,  80. , 129.5, 167.5, 180. ,  51. , 138.5,
       120.5, 162. ,  68.5, 110.5, 115.5,  43. , 119. ,  25. ,  13.5,
       194.5,  74. , 136.5,  74.5, 116.5, 232.5, 153. , 127. , 177. ,
       101.5, 145.5,  94. , 123.5, 165. ,  59.5,  66. ,  86. , 173. ,
       172. ,  69.5, 194. , 113. ,  47. , 133.5,  37.5, 127.5, 121.5,
       118.5,  58.5,  83. , 221.5,  44.5,  37. ,  53. , 103. , 111. ])

In [22]:
sal.tail()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer Provided Sal,min_sal,max_sal,avg_sal
950,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK\r\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5
951,Senior Data Engineer,72-133,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite\r\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5
952,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56,91,73.5
953,Data Science Manager,95-160,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95,160,127.5
955,Research Scientist – Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61,126,93.5

In [23]:
sal[sal['Rating']<0] #if there is no rating, the company name is fine as is

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer Provided Sal,min_sal,max_sal,avg_sal
208,Principal Data Scientist with over 10 years ex...,200-250,Position Title: Principal Data Scientist\r\nLo...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,0,1,200,250,225.0
331,Principal Data Scientist with over 10 years ex...,200-250,Position Title: Principal Data Scientist\r\nLo...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,0,1,200,250,225.0
377,Data Operations Lead,85-90,Data Operations Lead\r\nLocation: Flexible tho...,-1.0,Muso,"San Francisco, CA","San Francisco, CA",201 to 500 employees,-1,Nonprofit Organization,-1,-1,Unknown / Non-Applicable,-1,0,1,85,90,87.5
472,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,100,140,120.0
518,"Senior Scientist, Cell Pharmacology/Assay Deve...",110-130,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,110,130,120.0
583,Data Scientist,81-140,"As a Data Scientist, you will play a critical ...",-1.0,ALIN,"New York, NY","Noida, India",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,0,81,140,110.5
703,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,100,140,120.0
741,"Scientist – Cancer Discovery, Molecular Assay",100-135,"Scientist – Cancer Discovery, Molecular Assay\...",-1.0,Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1,-1,-1,-1,-1,-1,0,1,100,135,117.5
778,"Senior Scientist, Cell Pharmacology/Assay Deve...",110-130,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,110,130,120.0
819,"Principal Research Scientist/Team Lead, Medici...",120-145,"Principal Research Scientist/Team Lead, Medici...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,120,145,132.5
943,"Research Scientist, Immunology - Cancer Biology",100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1,100,140,120.0

In [24]:
sal[sal['Rating']>=0] #if there is a rating, the rating comes last after the company name
                      #we need to remove the rating and only have the company name

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer Provided Sal,min_sal,max_sal,avg_sal
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK\r\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5
951,Senior Data Engineer,72-133,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite\r\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5
952,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56,91,73.5
953,Data Science Manager,95-160,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95,160,127.5
955,Research Scientist – Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61,126,93.5

In [25]:
#return the company name only, so do away with the rating 
def name(rating, cname):
    if rating<0:
        return cname
    
    else:
        cname = cname.split()
        cname = cname[:-1]
        cname = ' '.join(cname)
        return cname 

name(3,'The Hanover Insurance Group\r\n3.7')

'The Hanover Insurance Group'

In [26]:
#NB: ONLY RUN THIS CELL ONCE 
#let's apply the function to our sal df
#sal['Company Name'].unique()

sal['Company Name'] = np.vectorize(name)(sal['Rating'], sal['Company Name'])
sal['Company Name'].unique()

array(['Tecolote Research', 'University of Maryland Medical System',
       'KnowBe4', 'PNNL', 'Affinity Solutions', 'CyrusOne',
       'ClearOne Advantage', 'Logic20/20', 'Rochester Regional Health',
       '<intent>', 'Wish', 'ManTech', 'Walmart', 'Yesler',
       'Takeda Pharmaceuticals', 'Audible', 'Blueprint Medicines',
       'h2o.ai', 'Nuna', 'Pinnacol Assurance', 'Porch', 'Health IQ',
       'Truckstop.com', 'SMC 3', 'Novetta', 'Pfizer',
       'First Tech Federal Credit Union', 'The Hanover Insurance Group',
       'Amrock', 'Novartis', 'Juniper Networks', 'New England Biolabs',
       'Clarity Insights', 'Esri', 'Systems & Technology Research',
       'Sartorius', 'Lancer Insurance', 'Sauce Labs', 'Persivia',
       'Edgewell Personal Care', 'Equity Residential', 'BPA Services',
       'Visa Inc.', 'Intrado', 'Centauri', 'Caterpillar',
       'Zimmerman Advertising', 'Liberty Mutual Insurance',
       'Torch Technologies, Inc.', 'Swiss Re', 'Northrop Grumman',
       'Netskope', '1904labs', 'The David J. Joseph Company', 'USEReady',
       'Bill.com', 'Pacific Northwest National Laboratory',
       "DICK'S Sporting Goods - Corporate", 'Berg Health',
       'Oversight Systems', 'C Space', 'Numeric, LLC', 'HP Inc.',
       'SpringML', 'Grainger', 'EAG Laboratories', 'The Buffalo Group',
       'Carmeuse', 'GNS Healthcare', 'Peraton', 'Pactera', 'Nurx',
       'webfx.com', 'Johns Hopkins University Applied Physics Laboratory',
       'Productive Edge', 'Excella Consulting', 'Gensco', 'goTRG',
       'NMR Consulting', 'iSeatz', 'Nektar Therapeutics', 'TransUnion',
       'IT Concepts', 'Scientific Research Corporation',
       'General Dynamics Information Technology', 'MITRE', 'DentaQuest',
       'Redjack', '7Park Data', 'Rapid Response Monitoring', 'Trilogy Ed',
       'Gallup', 'CapTech', 'American Axle & Manufacturing',
       'CentralReach', 'Integrate', 'Boys Town Hospital', 'Demandbase',
       'Sapphire Digital', 'Formation', 'Autodesk', "Beck's Hybrids",
       'DrFirst', 'Object Partners', 'L.A. Care Health Plan',
       'Red Ventures', 'Quick Base', 'The E.W. Scripps Company',
       'Upside Business Travel', 'Synagro', 'Alliance Source Testing',
       'Accuride International', 'Full Potential Solutions',
       'Maven Wave Partners', 'First Command Financial Services, Inc.',
       'Pharmavite', 'BioMarin Pharmaceutical', 'Stratagem Group',
       'PA Consulting', 'Gridiron IT', 'Evolve Vacation Rental',
       'The Church of Jesus Christ of Latter-day Saints',
       'Maximus Real Estate Partners', 'Software Engineering Institute',
       'AVANADE', 'PatientPoint', 'BlueCross BlueShield of Tennessee',
       'KSM Consulting', 'Cogo Labs', 'Church & Dwight', 'MassMutual',
       'Genentech', 'Legal & General America', 'Western Digital',
       'Sunovion', 'National Student Clearinghouse', 'Tower Health',
       'State of Wisconsin Investment Board', 'Rubius Therapeutics',
       'OneMagnify', 'IZEA', 'Vionic Group', 'Dodge Data & Analytics',
       'Plymouth Rock Assurance', 'CA-One Tech Cloud', 'Beebe Healthcare',
       'Argo Group US', 'Associated Electric Cooperative', 'PennyMac',
       'Zest AI', 'DECISIVE ANALYTICS Corporation',
       'Karyopharm Therapeutics Inc.', 'Tempus Labs',
       'Recursion Pharmaceuticals', 'P2 Energy Solutions', 'ClearEdge',
       'Tapjoy', 'Credit Sesame', 'San Manuel Casino',
       'Texas Health Huguley Hospital', 'Teasdale Latin Foods',
       'Central California Alliance for Health',
       'Pilot Flying J Travel Centers LLC', "Palermo's Pizza",
       'Advanced BioScience Laboratories', 'Echo Global Logistics',
       'Lockheed Martin', 'Acuity Insurance', 'Fareportal',
       'Veterans Affairs, Veterans Health Administration', 'Credera',
       'Spectrum Communications and Consulting', 'NCSOFT',
       'Dayton Freight Lines, Inc.',
       'Community Action Partnership of San Luis Obispo', 'TrueAccord',
       'DRB Systems', 'Corcentric', 'U.Group', 'Systems Evolution Inc.',
       'Eventbrite', 'Centro', 'comScore', 'SullivanCotter', 'NPD',
       'Bakery Agency', 'Blue Cross & Blue Shield of Rhode Island',
       'Boys Town', 'The HSC Health Care System', 'Pro-Sphere Tek',
       'Ameritas Life Insurance Corp', 'Genworth', 'Trace Data',
       'Clearwater Analytics', 'Tekvalley, Corp.', 'BWX Technologies',
       'Vermeer', 'L&T Infotech', 'OceanFirst Financial', "Sotheby's",
       'Vanda Pharmaceuticals', 'CK-12 Foundation', 'Opinion Dynamics',
       'Applied Information Sciences', 'WK Dickson',
       'Southwest Research Institute', 'Muso', 'The Integer Group',
       'Samba TV', 'SV Microwave', 'Sumo Logic', 'EAB',
       'Brighthouse Financial', 'Citadel Federal Credit Union',
       'CALIBRE Systems', 'Motorola Solutions', 'Reynolds American',
       'Infosys', 'Alignment Healthcare', 'Cboe Global Markets',
       'Guidepoint', 'Cerus Corporation', 'Vail Health', 'AstraZeneca',
       'MathWorks', 'MetroStar Systems', 'Audentes Therapeutics',
       'National Interstate', 'Moser Consulting', 'Mcphail Associates',
       'Crown Bioscience', 'HOVER', 'Q2 Solutions', 'Arbella Insurance',
       'Kronos Bio', 'Associated Banc-Corp', 'Genesys', 'Moda Operandi',
       'QK', 'Santander', 'Tivity Health', 'BRMi', 'Luminar Technologies',
       'Emtec, Inc.', 'Veterans United Home Loans', 'Praetorian',
       'Agios Pharmaceuticals', 'Glassdoor', 'Assurant', 'F&G',
       'GreatAmerica Financial Services', 'Acceleron Pharma',
       'AmeriHealth Caritas', 'Strategic Employment Partners',
       'Catholic Health Initiatives', 'FLEETCOR',
       'Applied Research Laboratories', 'Raytheon', 'RTI International',
       'TRANZACT', 'United BioSource', 'Figure Eight', 'Royce Geospatial',
       'Citi', 'Sage Intacct', 'Scale AI', 'Change Healthcare', 'MZ',
       'HG Insights', '1-800-FLOWERS.COM, Inc.', 'CBS Interactive',
       'Samsung Research America', 'Lorven Technologies Inc', 'CareDx',
       'Serigor Inc.', 'Leidos', 'Beckman Coulter Diagnostics',
       'IHS Markit', 'ALIN', 'e-IT Professionals Corp.', 'TechProjects',
       'Biz2Credit Inc', 'PeoplesBank', 'Capgemini',
       'GNY Insurance Companies', 'Conch Technologies, Inc',
       'Medidata Solutions', 'Quartet Health',
       'Success Academy Charter Schools', 'AXION Healthcare Solutions',
       'ExecOnline', 'Mteq', 'Brillient', 'Entefy', 'Trace3',
       'Saama Technologies Inc', 'Two Sigma',
       'Strategic Financial Solutions', 'Remedy BPCI Partners, LLC.',
       'The Climate Corporation', 'Crossix Solutions', 'GSK', 'Factual',
       'TriNet', 'Signpost', 'Adobe', 'Equian LLC',
       'Information Builders', 'Greenway Health', 'Confluent', 'Life360',
       'IQVIA', 'Riverside Research Institute', 'Icon Health and Fitness',
       'Shipt', 'Monte Rosa Therapeutics', 'IntraEdge',
       'COUNTRY Financial', 'Mentor Graphics', 'Maxar Technologies',
       'ICW Group', 'Exelixis', 'Grand Rounds', 'SPINS, LLC', 'DTCC',
       'Carilion Clinic', 'DoubleVerify',
       'Mitsubishi Electric Research Labs', 'Rodan and Fields, LLC',
       'DESC', 'Johns Hopkins Health Care', 'Community Behavioral Health',
       'FORMA THERAPEUTICS', 'Bridg', 'Charter Spectrum', 'CompQsoft',
       'Solugenix Corporation', 'West Coast University',
       'SoftBank Robotics', 'SkySync', 'DatamanUSA, LLC', '23andMe',
       'Fivestars'], dtype=object)

In [27]:
#let's create another column that contains the state where the job/company is 
sal['State'] = sal['Location'].str.split(',').str[-1]
sal[['Location', 'State']]

            Location State
0    Albuquerque, NM    NM
1      Linthicum, MD    MD
2     Clearwater, FL    FL
3       Richland, WA    WA
4       New York, NY    NY
..               ...   ...
950    Cambridge, MA    MA
951    Nashville, TN    TN
952   Pittsburgh, PA    PA
953    Allentown, PA    PA
955  Beavercreek, OH    OH

[742 rows x 2 columns]

In [28]:
sal['State'].value_counts().head(30) #looking at the number of instances per state

 CA    152
 MA    103
 NY     72
 VA     41
 IL     40
 MD     35
 PA     33
 TX     28
 NC     21
 WA     21
 NJ     17
 FL     16
 OH     14
 TN     13
 DC     11
 CO     11
 WI     10
 IN     10
 UT     10
 MO      9
 AZ      9
 AL      8
 MI      6
 DE      6
 KY      6
 GA      6
 CT      5
 IA      5
 OR      4
 LA      4
Name: State, dtype: int64

In [29]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Job Title              742 non-null    object
 1   Salary Estimate        742 non-null    object
 2   Job Description        742 non-null    object
 3   Rating                 742 non-null    float64
 4   Company Name           742 non-null    object
 5   Location               742 non-null    object
 6   Headquarters           742 non-null    object
 7   Size                   742 non-null    object
 8   Founded                742 non-null    object
 9   Type of ownership      742 non-null    object
 10  Industry               742 non-null    object
 11  Sector                 742 non-null    object
 12  Revenue                742 non-null    object
 13  Competitors            742 non-null    object
 14  hourly                 742 non-null    int64
 15  Employer Provided Sal  742 non-null    int64
 16  min_sal                742 non-null    int64
 17  max_sal                742 non-null    int64
 18  avg_sal                742 non-null    float64
 19  State                  742 non-null    object
dtypes: float64(2), int64(4), object(14)
memory usage: 121.7+ KB

In [30]:
sal['Founded'] = sal['Founded'].astype(np.int64)
sal['Age'] = sal.apply(lambda x: 2021-x['Founded'] if x['Founded']!=-1 else -1, axis=1)
sal['Age'].unique()

array([ 48,  37,  11,  56,  23,  21,  13,  16,   7,  12,  10,  53,  59,
         9, 240,  26, 106,   8,  86, 172,  69, 169,  24,  25,  47,  52,
       151,  36,  -1,   6,  28,  63,  35,  22,  96, 109,  19, 158,  82,
         5, 136,  15,  73,  18,  94,  43, 161,   4,  79,  31,  33,  20,
        14,  29,  27,  44,   2,  39,  84, 143,  55,  50,  78,  34,  76,
       175, 170,  45,  40,  51,  70,  54,  60,  57,  91, 104, 138, 134,
        17, 171, 119, 277,  92,  74,  30,  32,  93, 146, 108,  49, 165,
        38,  99, 209, 107,  41,  67, 191,  46, 122,  42, 132], dtype=int64)

In [31]:
sal

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Sector,Revenue,Competitors,hourly,Employer Provided Sal,min_sal,max_sal,avg_sal,State,Age
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,NM,48
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,MD,37
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,FL,11
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,WA,56
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,NY,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5,MA,191
951,Senior Data Engineer,72-133,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5,TN,15
952,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,Education,Unknown / Non-Applicable,-1,0,0,56,91,73.5,PA,37
953,Data Science Manager,95-160,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,Business Services,$5 to $10 million (USD),-1,0,0,95,160,127.5,PA,-1
955,Research Scientist – Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,Government,$50 to $100 million (USD),-1,0,0,61,126,93.5,OH,54

In [32]:
#2021 - sal['Founded'].astype(np.int64)

In [33]:
#sal.iloc[-2]

In [34]:
#let's create a column that is true if the job is in the same state as the company HQ
df = sal.copy()
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Sector,Revenue,Competitors,hourly,Employer Provided Sal,min_sal,max_sal,avg_sal,State,Age
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,NM,48
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,MD,37
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,FL,11
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,WA,56
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,NY,23

In [35]:
df['job_in_HQ'] = df.apply(lambda x: 1 if x['Headquarters'].split(',')[-1] in x['State'] else 0, axis=1)
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Competitors,hourly,Employer Provided Sal,min_sal,max_sal,avg_sal,State,Age,job_in_HQ
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,$50 to $100 million (USD),-1,0,0,53,91,72.0,NM,48,0
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,$2 to $5 billion (USD),-1,0,0,63,112,87.5,MD,37,1
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,$100 to $500 million (USD),-1,0,0,80,90,85.0,FL,11,1
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,WA,56,1
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,NY,23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5,MA,191,0
951,Senior Data Engineer,72-133,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5,TN,15,0
952,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,Unknown / Non-Applicable,-1,0,0,56,91,73.5,PA,37,1
953,Data Science Manager,95-160,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,$5 to $10 million (USD),-1,0,0,95,160,127.5,PA,-1,1
955,Research Scientist – Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,$50 to $100 million (USD),-1,0,0,61,126,93.5,OH,54,0

In [36]:
#parsing the job description for any DATA SCIENCE skills that may be relevant 

#skills we will parse for include: 
#python 
#spark
#sql
#r studio 
#excel
#aws

In [37]:
#let's parse for python first 
#df['Job Description'].iloc[2]

df['has_python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.has_python.value_counts() #so over half the jobs require python

1    392
0    350
Name: has_python, dtype: int64

In [38]:
#now we parse for spark as a skill 
df['has_spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['has_spark'].value_counts()

0    575
1    167
Name: has_spark, dtype: int64

In [39]:
#parse for sql
df['has_sql'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
df['has_sql'].value_counts()

1    380
0    362
Name: has_sql, dtype: int64

In [40]:
#parse for r studio 
df['has_rstudio'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() else 0)
df['has_rstudio'].value_counts() #might be too small to be relevant 

#df[df['has_rstudio']==1]
#df['Job Description'].iloc[264]

0    741
1      1
Name: has_rstudio, dtype: int64

In [41]:
#parse excel
df['has_excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['has_excel'].value_counts()

1    388
0    354
Name: has_excel, dtype: int64

In [42]:
#parse aws
df['has_aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['has_aws'].value_counts()

0    566
1    176
Name: has_aws, dtype: int64

In [43]:
#parse tableau 
df['has_tableau'] = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
df['has_tableau'].value_counts()

0    594
1    148
Name: has_tableau, dtype: int64

In [44]:
df.to_csv('clean_sal_data.csv', index=False)

In [45]:
df2 = pd.read_csv('clean_sal_data.csv')
df2

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,State,Age,job_in_HQ,has_python,has_spark,has_sql,has_rstudio,has_excel,has_aws,has_tableau
0,Data Scientist,53-91,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,NM,48,0,1,0,0,0,1,0,1
1,Healthcare Data Scientist,63-112,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,MD,37,1,1,0,0,0,0,0,0
2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,FL,11,1,1,1,1,0,1,0,0
3,Data Scientist,56-97,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,WA,56,1,1,0,0,0,0,0,0
4,Data Scientist,86-143,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,NY,23,1,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,MA,191,0,0,0,0,0,0,1,0
738,Senior Data Engineer,72-133,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,TN,15,0,1,1,1,0,0,1,0
739,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,PA,37,1,0,0,0,0,1,0,0
740,Data Science Manager,95-160,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,PA,-1,1,0,0,0,0,1,0,0
741,Research Scientist – Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,OH,54,0,1,0,0,0,0,0,0